html(ng-app='')
  head
    style(type='text/css').
      .gimmie-intext-sample {
        width: auto;
        display: inline-block;
      }

      .gimmie-instance-action {
        background-color: #faebd7;
        border: 1px solid #fb8c32;
        border-radius: 3px;

        width: 100px;
        cursor: pointer;

        position: relative;
        left: 100px;
      }
    meta(name='viewport',content='width=device-width, initial-scale=1;')
    meta(http-equiv='Pragma',content='no-cache')
  body(ng-controller='EventsListCtrl')
    .gimmie-control
      h2 Events
      ul.events
        li(ng-repeat='event in events')
          a(href='#',ng-click='triggerEvent(event.name)') {{event.description}}

    #gimmie-root

    script(type='text/javascript',src='angular.min.js')
    script(type='text/javascript',src='controllers.js')
    script(type='text/javascript').
      var _gimmie = {
        "api"                         : "//192.168.2.118:8080/gimmie?gimmieapi=",
        "locale"                      : "en",

        "key"                         : "0a60299a6b0148ab76593b8e6e4e",
        "gimmieURL"                   : "http://api-d.llun.in.th",
        "name"                        : "#{user}",

        "auto_notify_after_load"      : true,

        "_": {
          "enable_responsive": true,
          "no_animate": false,
          "hide_powerby": true
        },

      };

      (function(d){
        var js, id = "gimmie-widget", ref = d.getElementsByTagName("script")[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement("script"); js.id = id; js.async = true;
        // js.src = "http://api.gimmie.lab:3000/assets/gimmie-widget.nojq.js";
        js.src = "http://api-d.llun.in.th/assets/gimmie-widget.all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));

